In [1]:
import sys, os, time
from __future__ import print_function
print("PYTHONPATH: {}".format(os.environ['PYTHONPATH']))
sc=spark.sparkContext
sc

PYTHONPATH: /usr/lib/python2.7/site-packages:/usr/lib64/python2.7/site-packages:/usr/hdp/current/spark2-client/python:/usr/hdp/current/spark2-client/python/lib/py4j-0.10.7-src.zip

In [2]:
rdd = sc.parallelize([(1,"One"), (2,"Two"), (3, "Three"), (4, "Four"), (5, "Five")])
rdd.toDF(["number", "text"]).limit(3).toPandas()

   number   text
0       1    One
1       2    Two
2       3  Three

In [3]:
print(rdd.reduce(lambda a,b: (a[0] + b[0], "{}:{}".format(a[1],b[1]))))

(15, 'One:Two:Three:Four:Five')

## Ejemplo Read Spark DataFrame & Pandas

In [5]:
house_dom = spark.sparkContext.textFile("/data/examples/CaliforniaHousing/cal_housing.domain")\
    .map(lambda s: s.split(':')[0])
columns = house_dom.collect()

house_data = spark.read.csv("/data/examples/CaliforniaHousing/cal_housing.data", inferSchema=True)\
    .toDF(*columns)
house_data.printSchema()

root
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- housingMedianAge: double (nullable = true)
 |-- totalRooms: double (nullable = true)
 |-- totalBedrooms: double (nullable = true)
 |-- population: double (nullable = true)
 |-- households: double (nullable = true)
 |-- medianIncome: double (nullable = true)
 |-- medianHouseValue: double (nullable = true)

In [6]:
house_data.toPandas().head()

,longitude,latitude,housingMedianAge,totalRooms,totalBedrooms,population,households,medianIncome,medianHouseValue
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0